{% extends "layout.html" %}
{% block content %}
	 <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <form id='input' method='post' action='/graph'>	
          <p>Ticker symbol: <input type='text' name='ticker' placeholder='AAPL' /></p>
          <p>Start Date: <input type='text' name='start_date' placeholder='2018-08-01' /></p>
          <p>
          <input type="checkbox" name='features' value='Close' checked="checked" />Closing price<br>
          <input type="checkbox" name='features' value='Adj_Close' />Adjusted closing price<br>
          <input type="checkbox" name='features' value='Open' />Opening price<br>
          <input type="checkbox" name='features' value='Adj_Open' />Adjusted opening price<br>
          </p>
          <p><input type="submit" value="Submit"></p>
          </form>
        </div>
      </div>
    </div>
{% endblock content %}